@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700|Open+Sans+Condensed:700|Open+Sans:300,400,400i,600,700");

body {
  margin: 0;
  padding: 0;
}

* {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Lora", serif;
  font-size: 15px;
  color: #4d4d4f;
  background-color: lightgray;
}

body > * {
  flex: 1;
}

header {
  width: 100%;
  height: 80px;
  top: 0;
  display: flex;
  overflow: hidden;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
}

#main_logo {
  display: block;
}

header svg#daugherty_logo {
  fill: #ffffff;
  width: auto;
  height: 60px;
}

header a.button.expanded.hollow.secondary {
  margin: 7px 30px;
  max-width: 120px;
  border-color: white;
  border-width: 2px;
  color: white;
  border-radius: 4px;
  // font-size: 1.25em;
}

main {
  // height:calc(100vh - 120px);
  height: 100vh;
  padding: 30px;
}

footer {
  height: 60px;
  background: #ececec;
}

h1,
h2,
h3,
h4 {
  font-family: "Open Sans Condensed", sans-serif;
  line-height: 1em;
  letter-spacing: -0.025em;
}

.button,
label {
  font-family: "Open Sans";
  font-weight: 700;
}

label {
  text-transform: uppercase;
  font-size: 0.75em;
  color: #4d4d4f;
}

input[type="text"] {
  border-radius: 3px;
}

.fieldset {
  border-radius: 3px;
  border: none;
  background: #f3f4f4;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25) inset;
}

.green-background {
  background: linear-gradient(
    to right,
    rgba(84, 140, 63, 1) 0,
    rgba(181, 208, 132, 1) 100%
  );
}

.green-background-left {
  background: linear-gradient(
    to left,
    rgba(84, 140, 63, 1) 0,
    rgba(181, 208, 132, 1) 100%
  );
}

.inset-box-shadow-1 {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.55) inset;
}

.inset-box-shadow-2 {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45) inset;
}

.inset-box-shadow-3 {
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.35) inset;
}

.box-shadow-1 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06), 0 2px 2px rgba(0, 0, 0, 0.06),
    0 4px 4px rgba(0, 0, 0, 0.06);
}

.box-shadow-2 {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.06), 0 4px 4px rgba(0, 0, 0, 0.06),
    0 8px 8px rgba(0, 0, 0, 0.06);
}

.box-shadow-3 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06), 0 8px 8px rgba(0, 0, 0, 0.06),
    0 16px 16px rgba(0, 0, 0, 0.06);
}

main .header-bar {
  margin: -30px -30px 30px;
  border: 1px solid orange;
}

#screenshot_frame {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#main_menu,
#main_menu ul {
  list-style: none;
  margin: 0 30px;
  color: white;
  font-family: "Open Sans";
  font-weight: 700;
  text-align: right;
}

#main_menu ul,
#main_menu ul a {
  margin: 0;
  padding: 0;
  line-height: 2em;
  font-weight: 500;
}

#main_menu li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#main_menu li:last-child {
  border-bottom: none;
}

#main_menu a {
  color: inherit;
  padding: 7px 5px;
  display: block;
  opacity: 0.75;
}

#main_menu a:hover {
  opacity: 1;
}

// Jonathan's Additions:

.btn-group button {
  color: whitesmoke; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  margin: auto;
  display: block; /* Make the buttons appear below each other */
}

.btn-group button:hover {
  background: linear-gradient(
    to right,
    rgba(110, 180, 82, 1) 0,
    rgba(235, 270, 172, 1) 100%
  );
  color: black;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the div around the iframe */
.vimeo-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

/* Style the iframe itself */
.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.team {
  margin-top: 1px;
  height: 78px;
  margin-left: 50px;
}

.spacer {
  z-index: 1;
  padding-top: 80px;
  overflow-y: hidden;
}

.green-text {
  color: black;
}

.card-height {
  height: 200px;
}

.App {
  position: relative;
}

li > img {
  height: 80px;
  padding: 0;
  margin: 0;
}

li > span {
  margin-left: 300px;
}
