@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700|Open+Sans+Condensed:700|Open+Sans:300,400,400i,600,700");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  // overflow: hidden;
  font-size: 15px;
  perspective: 1920px;
}

iframe {
  width: 100vw;
  height: 56.25vw;
  min-height: 100vh;
  min-width: 177.77vh;
  position: absolute;
  top: 0;
  left: 0;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  z-index: 0;
}

#text_tint {
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#person_message {
  position: fixed;
  top: 100px;
  left: 100px;
  z-index: 100000;
  width: calc(100vw - 200px);
  height: calc(100vh - 200px);
  color: #cecece;
  font-family: "Open Sans";
  text-align: center;
  line-height: 1em;
  font-size: 4em;
  border: 8px solid white;
  background: linear-gradient(
    45deg,
    rgba(237, 237, 237, 1) 0%,
    rgba(246, 246, 246, 1) 53%,
    rgba(255, 255, 255, 1) 100%
  );
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075), 0 4px 4px rgba(0, 0, 0, 0.075),
    0 8px 8px rgba(0, 0, 0, 0.075), 0 16px 16px rgba(0, 0, 0, 0.075);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: all 1s ease-in-out;
  transform-origin: center center;
}

#person_message.flip {
  transform: rotateY(360deg);
}

#person_message h1 {
  font-size: 2.5em;
  line-height: 1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.075em;
  margin: 0;
  color: #538b3f;
  font-weight: 100;
}

#person_name {
  font-size: 6em;
  letter-spacing: -0.025em;
  color: #595959;
  font-family: "Open Sans Condensed";
}

#person_name > * {
  line-height: 1em;
  display: block;
}
